
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

h1, .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.playwrite-nz-body {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}
  
body, .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
}
  
.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}
  
.spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
}
  
.spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}
  
.spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}
  
.spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
}
  
.spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
}
  
.spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
}
  
.spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
}
  
.spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
}
  
.spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
}
  
.spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
}
  
.spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
}
  
h1 { 
    margin: 0 0 10px 0; 
    padding: 20px 0 10px 0; 
    letter-spacing: 0px; 
    border-bottom: 1px solid #999; 
    line-height: 40px;
    color: #000000;
    font-size: 72px; 
}

.noto-sans-body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    font-variation-settings:
      "wdth" 100;
}
body { 
    line-height: 24px; 
    letter-spacing: 0.5px; 
    text-align: justify;
    font-size: 16px; 
}

#page{
    max-width: 1000px; 
    padding-left: 1.0%;
    padding-right: 1.0%;
    margin: 2.5% auto;
}