
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

h1, .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.playwrite-nz-body {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}
  
.spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
}
  
.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}
  
.spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
}
  
.spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}
  
.spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}
  
.spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
}
  
.spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
}
  
body, .spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
}
  
.spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
}
  
.spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
}
  
.spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
}
  
.spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
}
  
.spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
}
  
h1 { 
    margin: 0 0 40px 0; 
    padding: 20px 0 10px 0; 
    letter-spacing: 0px; 
    border-bottom: 1px solid #999; 
    line-height: 40px;
    color: #000000;
    font-size: 64px; 
}

h2 { 
  font-size: 32px; 
  font-weight: 400;
  margin: 0 0 10px 0; 
  position: relative;
  color: #000000;
}

.noto-sans-body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    font-variation-settings:
      "wdth" 100;
}
body { 
    line-height: 28px; 
    /*! letter-spacing: 0.5px; */ 
    text-align: justify;
    font-size: 20px; 
}

#page{
    max-width: 1000px; 
    padding-left: 10px;
    padding-right: 10px;
    margin: 25px auto;
}

span.date{
  color: #999999;
  padding-left: 10px;
  font-size: 14px;
}
span.tag{
  color: lightslategray;
  padding-left: 10px;
  font-size: 13px;
}
a { 
  color: #000000; 
  text-decoration: none; 
  transition: all 0.1s ease;
  display: inline-block;
}
a:hover { 
   transform:scale(1.025) translateZ(0);
   backface-visibility: hidden;
}
p.footer { 
    margin: 10px 0 0 0; 
    padding: 5px 20px 0 20px; 
    font-size: 12px;
    border-top: 1px solid #999; 
    line-height: 16px;
    color: #333333;
}
p.tabs {
    margin: 0 0 0 50px;
}
